.indicator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.dot {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
}

.colour {
  box-shadow: 0 0 0;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 10px 10px;
  }
}
