.app {
  display: grid;
  grid-template-columns: 7fr 3fr;
  height: 100vh;
}

.leaflet-container {
  height: 100%;
}

.time {
  font-style: italic;
  font-size: 0.6rem;
}

.map-outer {
  height:100vh;
}

    @media only screen and (max-width: 600px) {
      .app {
        display: block;
        height: unset;
      }
      .map-outer {
        height: 300px;
      }
}