.data-container {
  width: 100%;
  background-color: black;
  color: white;
  padding: 2rem;
  overflow-y: scroll;
}

.status-container {
  display: grid;
  grid-template-columns: fit-content(40%) fit-content(40%);
  grid-gap: 1rem;
  align-items: center;
}
